<%= render "pages/header" %>

<main role="main" class="container">      
    <h1 class="mt-5">
        Title: <%= @article.title %>
    </h1>
    <%= link_to edit_article_path do %>
        <button type="button" class="btn btn-primary my-2">
            Edit
        </button>
    <% end %>
    <p class="lead">
        Description: <%= @article.description %>
    </p>
</main>

<%= render "pages/footer" %>